# SMTP credentials (required for mailer.php)
SMTP_HOST=mail.biurorachunkowenysa.com
SMTP_USERNAME=your_smtp_username
SMTP_PASSWORD=your_smtp_password
RECAPTCHA_SECRET=your_recaptcha_server_secret

# Email sender settings
MAIL_FROM_EMAIL=your_from_email@example.com
MAIL_REPLY_TO=your_reply_to@example.com
MAIL_BOUNCE_EMAIL=bounces@example.com
